.banner {
    background-image: url('../../img/Portfolio/banner.png');
}

.portfolio {
    background-color: #F9F8F8;
    padding: 8.4% 12.6%;
    width: 100%;
}
/* .portfolio-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    list-style: none;
    gap: 43px 24px; 
}*/
.portfolio-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 1400px;
    gap: 43px 24px; 
    list-style: none;
}
.portfolio-item {
    width: 100%; 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
    cursor: pointer;
    transition: transform 0.3s ease;
}


.portfolio-img {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background-color: #fff; 
}

.portfolio-img img {
    width: 100%;         
    height: auto;        
    aspect-ratio: 450/421;   
    object-fit: cover;  
    display: block;     
}



.portfolio-info {
    padding-top: 20px;
}

.portfolio-info .name {
    font-size: 25px;
    font-weight: 800;
    color: #274C5B;
    margin-bottom: 2px;
}

.portfolio-info .desc {
    font-family: 'Yellowtail', cursive;
    font-size: 22px;
    color: #7EB693;
}

/* =========================================
   RESPONSIVE (MEDIA QUERIES)
   ========================================= */

/* Tablet (Dưới 1024px) */
@media (max-width: 1024px) {
    .portfolio {
        padding: 60px 5%; 
    }
    .portfolio-info .name {
        font-size: 22px;
    }
    .portfolio-info .desc {
        font-size: 20px;
    }

}

/* Mobile (Dưới 768px) */
@media (max-width: 530px) {
    .portfolio-list {
        grid-template-columns: 1fr 1fr; 
    }
}