* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.banner {
  background-image: url('img-quantity/Background.png');
}


.services-section {
  width: 73%;
  margin: 160px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 80px;

}

.container {
  width: 67%;
}

.container h2 {
  color: #274c5b;
  margin-bottom: 28px;
}

.container p {
  color: #525c60;
  line-height: 1.65;
  font-family: "Open Sans";
}

.container p:first-of-type {
  margin-bottom: 38px;
}

.container p:nth-of-type(2) {
  margin-bottom: 70px;
}

.feature-text p:first-of-type {
  margin-bottom: 0px;
}

.feature-row {
  display: inline-block;
  margin-bottom: 70px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 20px;
  align-items: stretch;
}

.feature-item img {
  width: 40%;
  object-fit: cover;
  border-radius: 30px;
  flex: none;
  display: block;
}

.feature-text {
  width: 60%;
  padding: 63px 45px;
  border-radius: 20px;
  background-color: #f9f8f8;
  color: #274c5b;
}

.feature-text h3 {
  margin-bottom: 7px;
}

.feature-item:nth-child(2) {
  margin-top: 28px;
  display: flex;
  flex-direction: row-reverse;
}

.container h1 {
  color: #274c5b;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 11px;
}

.quality-box {
  margin-top: 59px;
  display: flex;
  gap: 28px;
}

.quality-item {
  border-radius: 100px;
  background-color: #f9f8f8;
  padding: 15px 53px 15px 17px;
  gap: 25px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.number {
  width: 69px;
  height: 69px;
  background-color: #7eb693;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
}

.text {
  font-weight: 600;
  color: #274c5b;
}

@media (min-width: 1441px) and (max-width: 1715px) {
  .services-section {
    width: 80%;
    margin-top: 80px;
  }

  .container {
    width: 80%;
  }
}

@media (max-width: 1440px) {
  .services-section {
    width: 80%;
    margin-top: 80px;
  }

  .container {
    width: 80%;
  }

}

@media (max-width: 1310px) and (min-width: 965px) {
  .services-section {
    width: 90%;
    margin-top: 60px;
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 964px) and (min-width: 769px) {
  .number {
    width: 40px;
    height: 40px;
  }

  .feature-text {
    padding: 30px 25px;
  }

  .fs-25 {
    font-size: 16px;
  }

  .quality-item {
    border-radius: 50px;
    padding: 10px 20px 10px 10px;
    gap: 10px;
  }

  .fs-18 {
    font-size: 14px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .services-section {
    margin-top: 40px;
  }

  .hero-image img {
    margin-bottom: 40px;
  }

  .fs-18 {
    font-size: 14px;
  }

  .container p:nth-of-type(2) {
    margin-bottom: 40px;
  }

  .feature-item img {
    border-radius: 20px;
  }

  .feature-text {
    padding: 20px 15px;
  }

  .fs-25 {
    font-size: 18px;
  }

  .container h1 {
    font-size: 32px;
  }

  .quality-box {
    margin-top: 45px;
    flex-direction: column;
  }

  .quality-item {
    gap: 10px;
    padding: 10px 20px 10px 10px;
    width: auto;
  }

  .text {
    font-size: 16px;
  }

  .number {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 635px) {
  .quality-box {
    flex-direction: column;
    gap: 15px;
  }

  .quality-item {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .services-section {
    margin-top: 40px;
    width: 90%;
  }

  .container {
    width: 90%;
  }

  .feature-item {
    flex-direction: column;
  }

  .feature-item img {
    width: 100%;
  }

  .feature-text {
    width: 100%;
    padding: 30px 30px;
  }

  .feature-item:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .quality-item {
    width: 100%;
    padding: 15px;
  }

  .text {
    white-space: nowrap;
  }
}