* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFFE5;

}


.about-section {
    display: flex;
    padding: 120px 100px;
    width: 100%;
    min-height: 1010px;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    flex-basis: 57%;
    max-width: 980px;
    max-height: 768px;
    width: 100%;
    height: auto;
}

.about-content {
    flex-basis: 40%;
    width: 100%;
    padding: 62px 0px 62px 65px;
    height: 100%;
}

.heading-content {
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    margin-bottom: 8px;
    color: #7EB693;
}

.text-content {
    margin-bottom: 14px;
}

.body-text {
    color: #525C60;
    margin-bottom: 48px;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
    list-style: none;
}

.benefit-item {
    display: flex;
    flex-basis: 45%;
    gap: 15px;
}

.icon-wrapper {
    width: 51px;
    height: 48px;
}

.feature-label {
    font-weight: 500;
    font-size: 25px;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #274C5B;
    border-radius: 16px;
    gap: 10px;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        height: auto;
    }

    .about-img {
        flex-basis: 100%;
        max-width: 100%;
        height: auto;
    }

    .about-content {
        flex-basis: 100%;
        width: 100%;
        height: auto;
        padding: 0;

    }
}