.fs-70 {
    font-size: 70px;
    font-weight: 800;
    color: rgba(39, 76, 91, 1);
}

.fs-20 {
    font-size: 20px;
}

.fs-38 {
    font-size: 38px;
    font-weight: 700;
    color: rgba(39, 76, 91, 1);
}

.fs-30 {
    font-size: 30px;
    font-weight: 700;
    color: rgba(39, 76, 91, 1);
}

.fs-18 {
    font-size: 18px;
    font-family: 'opensans';
    color: rgba(82, 92, 96, 1);
}

.fs-36 {
    font-size: 36px;
    font-family: 'yellowtail';
    color: rgba(126, 182, 147, 1);
}

.fs-50 {
    font-size: 50px;
    font-weight: 800;
}

.fs-25 {
    font-size: 25px;
}