.fs-70 {
    font-size: 70px;
    font-weight: 800;
    color: rgba(39, 76, 91, 1);
}

.fs-20 {
    font-size: 20px;
}

.fs-38 {
    font-size: 38px;
    font-weight: 700;
    color: rgba(39, 76, 91, 1);
}

.fs-30 {
    font-size: 30px;
    font-weight: 700;
    color: rgba(39, 76, 91, 1);
}

.fs-18 {
    font-size: 18px;
}

.fs-36 {
    font-size: 36px;
    font-family: 'yellowtail';
    color: rgba(126, 182, 147, 1);
}

.fs-50 {
    font-size: 50px;
    font-weight: 800;
}

.fs-25 {
    font-size: 25px;
}
@media (max-width: 1920px) and (min-width: 769px) {
    .fs-18 {
    font-size: calc(4px + 1vw);
    }
    .fs-50 {
        font-size: calc(16px + 1vw);
    } 
    .fs-20 {
        font-size: calc(6px + 1vw);
    }
    .fs-30 {
        font-size: calc(10px + 1vw);
    }
}

@media (max-width: 768px) {
    .fs-18 {
    font-size: calc(4px + 1vw);
    }
    .fs-50 {
        font-size: calc(20px + 1vw);
    } 
    .fs-20 {
        font-size: calc(8px + 1vw);
    }
    .fs-30 {
        font-size: calc(10px + 1vw);
    }
}

@media (max-width: 480px) {
    .fs-18 {
    font-size: calc(2px + 1vw);
    }
    .fs-50 {
        font-size: calc(12px + 1vw);
    } 
    .fs-20 {
        font-size: calc(4px + 1vw);
    }
    .fs-30 {
        font-size: calc(8px + 1vw);
    }
}