* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.header {
  width: 100%;
  padding: 69px 160px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  height: 54px;
  margin-right: 134px;
}

.nav-mobile {
  display: none;
}

.nav {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-right: 133px;
}

.icon {
  font-size: 25px;
  color: #000000;
  margin-right: 20px;
}

.nav-item {
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.form-search {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 25px;
}

.input-search {
  width: 100%;
  padding: 8px 16px;
  border: none;
  outline: none;
  background-color: #eff6f1;
  
}

.button-search {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 56px;
  height: 56px;
  font-size: 20px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #7eb693;
  padding: 8px;
  border-radius: 50%;
  display: flex;
}

.cart {
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 33px;
  display: flex;
  width: 166px;
  gap: 12.47px;
  align-items: center;
  padding: 5px 23px 5px 6px;
}

.cart-item {
  width: 56px;
  height: 56px;
}

.cart-quantity {
  font-weight: 600;
}
